*.bak
*.idea
*.project
*.swp
*~
.TemporaryItems
.buildpath
.cache
.phpunit.result.cache
.project
.session
.settings
.webprj
/.phpunit.cache/
/composer.lock
/infection.log
/test-list.txt
/vendor/
nbproject
